html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.full-screen {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

.flex-center-center {
  display: flex !important;
  justify-content: center;
  align-content: center;
  flex-direction: row !important;
  flex-wrap: wrap;
}
/*
.slick-list, .slick-slider{
  height: 90%;
}*/

.slick-next:before, .slick-prev:before{
  color: #c3094a !important;
}
.SidebarIniciativas_contenedor_iniciativas__WOUCV{
  padding: o !important;
}

.CarouselIniciativas_slick_slider__3ZoF_{
  height: 100% !important;
}

.IniciativaCarousel_contenedor_iniciativa_carousel__2z_Na .IniciativaCarousel_titulo__3TQvX{
  font-size: 2.5rem !important;
}

@media (min-width: 1440px){
  .IniciativaCarousel_contenedor_iniciativa_carousel__2z_Na .IniciativaCarousel_titulo__3TQvX {
    font-size: 2.5rem !important;
  }
}

@media (min-width: 1024px){
  .IniciativaCarousel_contenedor_iniciativa_carousel__2z_Na .IniciativaCarousel_titulo__3TQvX {
    font-size: 2.5rem !important;
  }
}

